body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  min-height: 95vh;
}


/* main header */

h1 {
  font-size: 5rem;
  width: 71%;
}

h1 span {
  color: #191970;
}



/* cards */

.cards {
  display: flex;
}

.right-card {
  margin-left: 142px;
}

.left-card, .right-card {
  width: 50%;
  display: flex;
}

.left-card img, .right-card img{
  
  width: 300px;
  height: 200px;
}

.left-card div, .right-card div {
  
  width: 45%;
  margin-left: 50px;
}


footer {
  margin-top: 2.04em;
  text-align: right;
  color: midnightblue;
}









@media (max-width: 1230px) {

  .left-card, .right-card {
    flex-direction: column;
  }

  .left-card div, .right-card div {
    width: 100%;

    margin-left: 0;
  }

}


@media (max-width: 1128px) {

  h1 {
    font-size: 4em;
  }
}

@media (max-width: 985px) {

  h1 {
    font-size: 3em;
    margin: 40px 4em;
  }
}

@media (max-width: 814px) {

  body {
    text-align: center;
  }
  
  h1 {
    margin: auto;
    font-size: 2em;
  }

  .logo {
    margin-bottom: 70px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }
  
  .cards img {
    width: auto;
    height: auto;
  }

  .left-card {
    margin-top: 60px;
  }
  
  .right-card {
    margin-top: 60px;
    margin-left: 0;
  }
}